[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioboto3 = "*"
aiobotocore = "*"
aiofiles = "*"
aiohappyeyeballs = "*"
aiohttp = "*"
aioitertools = "*"
aiosignal = "*"
alembic = "*"
annotated-types = "*"
anyio = "*"
async-timeout = "*"
asyncpg = "*"
attrs = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
click = "*"
databases = "*"
exceptiongroup = "*"
fastapi = "*"
frozenlist = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
jmespath = "*"
mako = "*"
markupsafe = "*"
multidict = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pydantic = "*"
pydantic-settings = "*"
pydantic-core = "*"
python-dateutil = "*"
python-dotenv = "*"
python-magic = "*"
python-multipart = "*"
s3transfer = "*"
six = "*"
sniffio = "*"
sqlalchemy = "*"
starlette = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
wrapt = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.10"
